.top_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: var(--max-width);
    margin: 0 auto;
}

.content_top_wrapper_img {
    width: 100%;
}

.content_top_wrapper_img img {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.top_wrapper_content {
    width: 100%;
    padding: 20px;
}

@media (min-width: 768px) {
    .top_wrapper {
        flex-direction: row;
        align-items: flex-start;
    }

    .content_top_wrapper_img {
        width: 50%;
    }

    .top_wrapper_content {
        width: 50%;
    }
}